body {
  margin:  0 4rem;
  background-color: #212529;
}

h1 {
  font-family: Caveat;
  font-size: 5rem;
  color: #F7941D;
}

h4 {
  color: #fff;
  line-height: 3rem;
  font-weight: lighter;
  z-index: 2;

}

i{
  padding: 0 1.5rem;
}

p {
  color: #fff;
}

svg {
  width: 3rem;
}

li {
  padding: 0 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 95%;
}

iframe{
  width: 100%;
}

.bck-logo {
  width: 20rem;
  opacity: .1;
    margin-left: 25rem;

}

.container {
  position: relative;
  z-index: 1;
}
.content::after{
  z-index: 2;
  position: absolute;
  top: 0;
}

.carousel-item{
  text-align: center;
}

.contact-icon {
  font-size: 1.8rem;
  color: #fff;
  padding-bottom: 1.3rem;
}

.display-image {
  width: 60%;
}

.d-flex {
  padding-left: 4rem;
}

.Em-P {
  font-family: Anton;
}

.f-left {
  float: left;
  width: 40%;
}



.form-control {
  width: 23rem;
}

.h1-bgd {
  /* background-color: #764C29; */
}

.h1-bgd2 {
  /* background-color: #F7941D; */
  padding: 3% 7%;
}

.h3-top-text {
  color: #FCBA6B;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.image-sec-h2 {
  padding: 2% 0 2% 0;
  color: #764C29;
  background-color: #FCBA6B;
  opacity: .7;
}

.navbar-toggler {
  color: #fff;
}

.row {
  padding: 1rem 0;
}


.separate {
  padding: 5rem;
}

.separate2{
  padding: 2rem;
}


.Smata {
  width: 60%;
}

.toolsRow {
  padding: 0 1rem;

}
.toolsImages {
  width: 3rem;
  padding-top: 1.5rem;
}

.video-sec-h2{
  padding: 2% 0 2% 0;
  color: #764C29;
  background-color: #C79770;
}

.zoom {
  padding: 2px;
    transition: transform .2s; /* Animation */
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#carouselExampleControls {
  margin-bottom: 5rem;
}

#footer {
  text-align: center;
  padding:  4% 5%;
}

#images {
text-align: center;

}

#tools {
  color: #fff;
  text-align: center;
  padding: 2rem 4rem 2rem;
  background-color: #616161;
  line-height: 4rem;

}

#videos {
text-align: center;
}
